@import "./../../../Variables.scss";

.TitleAndSubTitle {
  &__Title {
    font-size: 120px;
    line-height: 1.1;
    margin-bottom: 30px;
    &--mobile {
      font-size: 50px;
    }
  }
  &__SubTitle {
    font-family: $font-light;
    font-size: 32px;
    color: #ffe13e;
    margin-bottom: 15px;
    &--mobile {
      font-size: 20px;
    }
  }
}
