@import "./Variables.scss";

.ant-layout-header {
  background: $navigation-bar-color;
  height: auto !important;
  .ant-menu-dark {
    background: $navigation-bar-color;
    font-size: 16px;

    .ant-menu-item {
      color: #fff;

      &-selected {
        background: #000;
      }
    }
  }
}
