@import "./Variables.scss";

.ant-layout-content {
  height: auto !important;
  .ant-menu-dark {
    background: none !important;
    font-size: 18px;
    .ant-menu-item {
      color: #fff;
      &-selected {
        background: #000;
      }
    }
  }
}
.ant-layout {
  background: none !important;
}
