$navigation-bar-color: #001529;
$button-color: #c142a0;
$button-color-onhover: #ac388e;
$background-color: #001529;

$font-thin: "Sailec-Thin", "Arial", sans-serif;
$font-light: "Sailec-Light", "Arial", sans-serif;
$font-bold: "Sailec-Bold", "Arial", sans-serif;
