@import "./../Variables.scss";
.AppMenu {
  &__Item {
    &--right {
      float: right;
    }
    &--callToAction {
      text-align: center;
      cursor: pointer;
      padding: 0px 15px;
      background: $button-color;
      background: $button-color-onhover !important;
    }
  }
}
